LEMON
analysis
analysis/importances.npy
analysis/new_result
analysis/abd_files
analysis/use
*pdf
./*csv
test/*csv
*pkl
*xlsx
*list
./*xls
*npy
#src
test/output
test/ref.fa.*
test/fastp.*
paper_results/nohup.out
.vscode/
dist/
build/
localhgt.egg-info/
upload2anaconda/localhgt/LocalHGT
scripts/extract_ref
not_used_scripts/
scripts/localhgt
